<FilesMatch "^\.">
    Require all denied
    Satisfy All
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_URI} /s/
    RewriteRule ^s/(.*)$ storage/app/public/$1 [L,END]

    RewriteCond %{REQUEST_URI} !/s/
    RewriteCond %{REQUEST_URI} !/public/
    RewriteRule ^(.*)$ public/$1 [L,END]

</IfModule>
